<div data-controller="example">
    <button data-action="click->example#myClick">
        Click me
    </button>

    <p data-target="example.delay">
    </p>

    <div data-target="example.loading" class="hidden">
        Loading...
    </div>

</div>